body {
  font-family: Gotham SSm A, Gotham SSm B, Halvetica, sans-serif;
  background-color: #3ea9f5;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  padding: 20px;
  margin: 0 auto;
  color: white;
}

.header {
  padding: 60px;
  display: flex;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
}

.headerBtn {
  padding: 10px 15px;
  color: white;
  background: #3ea9f5;
  border: 1px solid rgba(255, 255, 255, 0.77);
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
  cursor: pointer;
}

.wrapper {
  max-width: 555px;
  margin: 0 auto;
}

.title {
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 0;
  text-align: center;
}

.subtitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  margin: 11px auto 13px auto;
  text-align: center;
}

.ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.input {
  color: #9ca8b7;
  margin: 0;
  width: 200px;
  font-size: 16px;
  padding: 21px 23px;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 4px;
}

.radioWrap {
  margin-left: 40px;
  margin-top: 40px;
  border: 1px solid #fff;
  padding: 30px;
}

.inputRadio {
  padding-left: 20px;
  width: 100%;
  text-align: left;
  font-size: 20px;
}

.inputRadio span {
  font-size: 14px;
  display: block;
  padding-left: 40px;
}

.inputCheckbox {
  margin-left: 70px;
  margin-top: 40px;
}

.labelCheckbox {
  font-size: 13px;
  margin-left: 15px;
}

.formBtn {
  margin-left: 40px;
  margin-top: 20px;
  background-color: #28d2d0;
  transition: all 0.05s ease-in;
  border-radius: 4px;
  height: 64px;
  width: 92%;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
